div {
  height: 200px;
  width: 200px;

}

#first {
  background-color: red;
  padding: 10px;
  border: 10px dashed black;
}

#second {
  background-color: gold;
    border:   solid black;
  border-width: 20px 10px;
  margin-left: 240px;


}

#third {
  background-color: aquamarine;
  border: 10px solid black;
  margin-left: 460px;
}