.color-title {
  font-weight: normal;
}

img{
  height: 200px;
  width: 200px;
  border-top-left-radius: 20px;
}

#red {
  color: red;
}

#blue {
  color: blue;


}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}