html {
  font-size: 30px;
}

body {
  background-color: cornflowerblue;
  color: white;
  font-size: 18px;
}

#coral{
  color: coral;
}

#fontSize{
  font-size: 2rem;
}


#cavet {
  font-family: "Caveat", cursive;
}

#right-text {
  text-align: right;
}