/* Don't change the existing CSS. */


#outer-box {
  background-color: purple;
  border: 30px none;
  border-color: green;
 

}


.box {
  background-color: blue;
  padding: 10px;

}




.inner-box {
  background-color: red;
}


.white-text {
  color: white;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}